<form action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="hello@email.com">

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="********">

    <input type="submit" value="Login">
  </fieldset>
</form>
<a href="/user/new">Create Account</a>