<form action="/user/new" method="post">

  <fieldset>
    <legend>Create Account</legend>
    <label for="user[first_name]">First Name:</label>
    <input type="text" name="user[first_name]" placeholder="Billy" required>

    <label for="user[last_name]">Last Name:</label>
    <input type="text" name="user[last_name]" placeholder="Jean" required>

    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="hello@email.com" required>

    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="*********" required>

    <input type="submit" value="Create Account">
  </fieldset>

</form>
