<div class="container">
  <h1>Welcome to My Website!</h1>
  <p>Login</p>
  <form action="/login" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
  <a href="/user/new">Create Account</a>
</div>