<div class="container">
  <h1>Welcome to My Website!</h1>
  <p>Create Account</p>
  <form action="/user/new" method="post">
    <input type="text" name="first-name" placeholder="First Name">
    <input type="text" name="last-name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
  </form>
</div>