<div class="container">
  <h1>Welcome to My Website!</h1>
  <p>Create Account</p>
  <form action="/users" method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
  </form>
</div>